[user]
  name = danielmawhirter
  email = danielmawhirter@users.noreply.github.com
[core]
  editor = vim
[pull]
  rebase = true
[push]
  recurseSubmodules = check
[fetch]
  recurseSubmodules = on-demand
[submodule]
  recurse = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
